<!--引入layout.html模板，并重写 % block content 中内容 -->
{% extends 'layout.html' %}
<!--重写 block content中内容 -->
{% block content %}

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron" style="padding: 10px 20px">
        <h2>相册首页</h2>
        <p>
            在这里浏览、分享自己的相册，或者浏览别人的相册
        </p>

    </div>

    <a href="{{ url_for("album_create") }}" style="display: inline-block" class="btn btn-primary">
    创建新相册
    </a>
    <a href="{{ url_for("album_upload") }}" style="display: inline-block" class="btn btn-primary">
    更新已有相册
    </a>
    <a href="{{ url_for("album_list") }}" style="display: inline-block" class="btn btn-primary">
    相册列表
    </a>

{% endblock %}


{% block js_code %}
    <script>
$(document).ready(
    function () {
$("#nav-6").addClass("active")
    }
);
</script>
{% endblock %}

