<!--引入layout.html模板，并重写 % block content 中内容 -->
{% extends 'layout.html' %}
<!--重写 block content中内容 -->
{% block content %}

    <h2 class="page-header">创建相册/上传相册文件</h2>

    <div class="col-md-12">
        {% for message in get_flashed_messages(with_categories=False, category_filter=("err")) %}
            <h4 style="color: red"> {{ message }}</h4>
        {% endfor %}

        <form role="form" method="post" enctype="multipart/form-data">
            <div class="form-group col-md-3">

                {{ form.album_title }}
                {% for err in form.album_title.errors %}
                    <p style="color: red">{{ err }} </p>
                {% endfor %}
            </div>

            <div class="form-group col-md-3">
                {{ form.album_upload }}
                {% for err in form.album_upload.errors %}
                    <p style="color: red">{{ err }} </p>
                {% endfor %}
            </div>

            <div class="form-group col-md-2">
                {{ form.csrf_token }}    <!--csrf表单保护-->
                {{ form.submit }}
            </div>

        </form>
    </div>

    <div class="col-md-12">
        {% for message in get_flashed_messages(with_categories=False, category_filter=("ok")) %}
            <h4 style="color: green"> {{ message }}</h4>
        {% endfor %}
        {% if files_url %}
            {% for furl in files_url %}
                <img src="{{ furl }}" style="width: 150px">
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}

{% block js_code %}

{% endblock %}

