<!--引入layout.html模板，并重写 % block content 中内容 -->
{% extends 'layout.html' %}



{% block css_style %}
    <link href="{{ url_for('static',filename='custom/custom.css') }}"
          rel="stylesheet">
{% endblock %}

<!--重写 block content中内容 -->
{% block content %}

    <div class="container">
        <div class="col-md-8">
            <h2 class="new-title">
                {{ album.title }}
            </h2>

            <div class="news-content">
            <span><span class="avatar">
                <img src="{{ userface_url }}"></span>
                作者（{{ album.user.name }}）</span>
                <span>浏览量（{{ album.clicknum }}）</span>
                <span>收藏量（{{ album.favornum }}）</span>
                <span>发布时间（{{ album.addtime }}）</span>

                <div id="btn-favor" class="btn btn-default">
                    收藏
                </div>
            </div>

            <div class="news-content">
                <blockquote>
                    <p>
                        {{ album.desc }}
                    </p>
                </blockquote>
                <div>
                    {% for photo in album.photos %}
                        <img class="img-responsive"
                             src="{{ photo.url }}">
                    {% endfor %}
                </div>
            </div>
            <a href="#" class="text-lg">回到顶部</a>
        </div>

        <div class="col-md-4">

            <div class="side-bar-card">
                <div class="card-title">相关推荐</div>
                <div class="card-body">

                    <div class="list">

                        {% for item in recommed_album %}
                            <div class="item clearfix">
                                <div class="col-xs-5 no-padding-h">
                                    <a href="{{ url_for("album_browse",id=item.id ) }}">
                                        <img src="{{ item.coverimageurl }}">
                                    </a>
                                </div>
                                <div class="col-xs-7">
                                    <a href="{{ url_for("album_browse",id=item.id ) }}">
                                        <div class="title">{{ item.title }}</div>
                                        <div class="desc">{{ item.clicknum }}浏览量·{{ item.favornum }}收藏量</div>
                                    </a>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>


            <div class="side-bar-card">
                <div class="card-title">我的收藏</div>
                <div class="card-body">
                    {% if session["user_name"] %}
                        <div class="list">
                            <div class="item clearfix">
                                <div class="col-xs-5 no-padding-h">
                                    <a href="{{ url_for("album_browse",id=1 ) }}">
                                        <img src="{{ url_for("static",filename="show2.jpg") }}">
                                    </a>
                                </div>
                                <div class="col-xs-7">
                                    <a href="{{ url_for("album_browse",id=1 ) }}">
                                        <div class="title">私密照片</div>
                                        <div class="desc">15k阅读15k收藏</div>
                                    </a>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <div class="col-xs-5 no-padding-h">
                                    <a href="{{ url_for("album_browse",id=1 ) }}">
                                        <img src="{{ url_for("static",filename="show2.jpg") }}">
                                    </a>
                                </div>
                                <div class="col-xs-7">
                                    <a href="{{ url_for("album_browse",id=1 ) }}">
                                        <div class="title">私密照片</div>
                                        <div class="desc">15k阅读15k收藏</div>
                                    </a>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <div class="col-xs-5 no-padding-h">
                                    <a href="{{ url_for("album_browse",id=1 ) }}">
                                        <img src="{{ url_for("static",filename="show2.jpg") }}">
                                    </a>
                                </div>
                                <div class="col-xs-7">
                                    <a href="{{ url_for("album_browse",id=1 ) }}">
                                        <div class="title">私密照片</div>
                                        <div class="desc">15k阅读15k收藏</div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    {% endif %}


                </div>
            </div>

        </div>


    </div>


{% endblock %}

{% block js_code %}
    <script>
        $(document).ready(function () {
            $("#btn-favor").click(
                function () {

                    {# 检查登录状态 #}
                    var uid = {{ session.get("user_id", -1) }};  {# python 代码，需要上下环境 #}
                    {#  获取不到返回-1 #}
                    var aid = {{ album.id }};    {# python 代码，需要上下环境 #}
                    console.log(uid)
                    if (uid == -1) {
                        alert("请登录后收藏！");
                    } else {
                        {#url:请求url type:请求类型 data：请求携带的参数 success：请求成功后执行函数 #}
                        $.ajax({
                                url: "{{ url_for("album_favor") }}",
                                type: "GET",
                                data: "aid=" + aid + "&uid=" + uid, {# 不同参数之间用&隔开 #}
                                dataType: "json", {# 指定接收到的数据类型 #}
                                success: function (res) {  {# res 服务器返回的数据 #}
                                    console.log(res.ok)
                                    if (res.ok == 1)
                                        $("#btn-favor").text("收藏成功")
                                    else
                                        $("#btn-favor").text("已收藏")
                                }
                            }
                        )
                    }
                }
            )
        })
    </script>
{% endblock %}

